body{
    padding: 30px;
}

.card {
    margin-bottom: 5px;
}

h2{
    padding: 20px;
    font-weight: bold;
    text-align: center; 
    background-color: #b2d4b6;
    color: #872729; 
}

.title{
    padding:10px; 
    font-weight: bold;
}